
div{
  border: 1px dashed black;
}


/*------------------Header--------------*/
.header{
  text-align: center;
}

#siteHeading{
  font-size: 40px;
  font-family: Helvetica, sans-serif;
  color: #3D9CA8;
  margin-bottom: 0px;
}


#subHeading{
  font-size: 20px;
  font-style: italic;
  color: #BCD693;
  padding-top: 0px;
  font-family: sans-serif;
}

/*-------------------NAVIGATION---------------*/

/*button.link {
    font-size: 20px;
    color: #AF7575;
    background:none;
    border:none;
  }*/


/*nav {
   border: 2px solid black;
   height: 30px;
   width: 1100px;
   margin: auto;
}

nav ul {
list-style: none;
display: inline;
margin: 0;
padding: 0;
}
/*-----------------IMAGES-------------*/
.dialog{
margin-top: 50px;

text-align: center;
}

/*=====ZACH====*/
#zach{
  height:405px;
  width:400px;
  border-top: 10px solid;
  margin-bottom: 25px;
  margin-right: 25px;
  display: inline;
  border-radius: 10px;
  border: 3px solid #3D9CA8;


}
#zach:hover{
  border: 5px solid #3D9CA8;
}

#zachSocial{
  float: left;
  position: relative;
  bottom: 550px;
  left: 310px;
  opacity:0.5;

}
#zachSocial:hover{
  opacity:1;
}

/*=====IVETTE=====*/
#ivette{
  height:405px;
  width:400px;
  margin-bottom: 25px;
  border: 3px solid #3D9CA8;
  border-radius: 10px;

}
#ivette:hover{
  border: 5px solid #3D9CA8;
}
#ivetteSocial{
  float: right;
  position: relative;
  margin: auto;
  bottom: 550px;
  right: 510px;
  opacity:0.5;

}
#ivetteSocial:hover{
  opacity:1;
}


/*=====JOHN=====*/
#john{
  height:405px;
  width:400px;
  margin-right: 25px;
  border: 3px solid #3D9CA8;
  border-radius: 10px;
  margin-bottom: 50px;
}
#john:hover{
  border: 5px solid #3D9CA8;
}
#johnSocial{
  float: left;
  position: relative;
  bottom: 110px;
  left: 135px;
  opacity:0.5;

}
#johnSocial:hover{
  opacity:1;
}

/*=====DANIEL=====*/
#daniel{
  height:405px;
  width:400px;
  border: 3px solid #3D9CA8;
  border-radius: 10px;
  margin-bottom: 50px;

}
#daniel:hover{
  border: 5px solid #3D9CA8;
}

#danielSocial{
  float: right;
  position: relative;
  bottom: 110px;
  right: 340px;
  opacity:0.5;
}
#danielSocial:hover{
  opacity:1;
}



/*---------------FOOTER---------------------*/
footer{
  text-align: center;
  width: 100%;
  height: 15%;
  border: 1px solid #AFD7DB;
  background: #B2D4DB;
  vertical-align: text-bottom;

}

#footerHead{
  color: white;
  text-align: center;
  margin-bottom: auto;
  font: 15px arial, sans-serif
}
