
section div {
  font-size: 40px;
  font-style: italic;
  font-family: sans-serif;
}

/*-------------------NAVIGATION---------------*/

/*button.link {
    font-size: 20px;
    color: #AF7575;
    background:none;
    border:none;
  }*/


/*nav {
   border: 2px solid black;
   height: 30px;
   width: 1100px;
   margin: auto;
}

nav ul {
list-style: none;
display: inline;
margin: 0;
padding: 0;
}

li{
display: inline;
margin: 0;
padding: 0;
vertical-align: bottom;
}*/


/*-----------------IMAGES-------------*/


.groupPhotos{
  margin-top: 50px;
  margin-left: 300px;
}

#zach{
  height:405px;
  width:400px;
  border-top: 10px solid black;
  margin-bottom: 25px;
  margin-right: 25px;
  display: inline;
  border: 3px solid #3D9CA8;
}
#zach:hover{
  border: 5px solid #3D9CA8;
  box-shadow:
  1px 1px #53a7ea,
  2px 2px #53a7ea,
  3px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}


#ivette{
  height:405px;
  width:400px;
  margin-bottom: 25px;
  border: 3px solid #3D9CA8;
}
#ivette:hover{
  border: 5px solid #3D9CA8;
  box-shadow:
  1px 1px #53a7ea,
  2px 2px #53a7ea,
  3px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

#john{
  height:405px;
  width:400px;
  margin-right: 25px;
  border: 3px solid #3D9CA8;
}
#john:hover{
  border: 5px solid #3D9CA8;
  box-shadow:
  1px 1px #53a7ea,
  2px 2px #53a7ea,
  3px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}


#daniel{
  height:405px;
  width:400px;
  border: 3px solid #3D9CA8;
}
#daniel:hover{
  border: 5px solid #3D9CA8;
  box-shadow:
  1px 1px #53a7ea,
  2px 2px #53a7ea,
  3px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}



#zachSocial{
  position: absolute;
  float: left;
  position: relative;
  bottom: 495px;
  left: 310px;
  opacity:0.5;
}
#zachSocial:hover{
        opacity:1;
}


#ivetteSocial{
  float: right;
  position: relative;
  bottom: 495px;
  right: 500px;
  opacity:0.5;
}
#ivetteSocial:hover{
        opacity:1;
}

#johnSocial{
  float: left;
  position: relative;
  bottom: 55px;
  left: 130px;
  opacity:0.5;
}
#johnSocial:hover{
        opacity:1;
}

#danielSocial{
  float: right;
  position: relative;
  bottom: 55px;
  right: 325px;
  opacity:0.5;
}
#danielSocial:hover{
        opacity:1;
}
/*#groupPhoto{
  display: inline-block;
}*/


/*#groupPhoto{
  display: block;
  margin: auto;
  margin-top: 50px;
  padding-left: 275px;

}
#setOne{
  padding-bottom: 50px;

}

#zach{
  width: 400px;
  height: 405px;
  padding-right: 50px;

}
#ivette{
  width: 400px;
  height: 405px;

}

#setTwo{
  padding-bottom: 50px;
}
#john{
  width: 400px;
  height: 405px;
  padding-right: 50px;

}

#daniel{
  width: 400px;
  height: 405px;

}*/
