h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
}

.box {
  background-color: black;
  color: white;
}

form {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 486px;
  margin: auto;
  padding: 20px;
}

.submitButton {
  cursor: pointer;
  padding: 15px;
  display: block;
  margin: auto;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
}

.submitButton span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submitButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submitButton:hover span {
  padding-right: 25px;
}

.submitButton:hover span:after {
  opacity: 1;
  right: 0;
}

input {
  padding: 10px;
  margin: 10px;
  width: 50px;
}

#boxesContainer {
  display: block;
  max-width: 166px;
  margin: auto;
}

#displayField {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  display: block;
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
}

#playButton {
  margin-top: 20px;
}

#indexIndicator {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  list-style-type: none;
}

#indexIndicator li {
  display: block;
  float: left;
  margin: 0;
  width: 1px;
}

#indexZero {
  padding-left: 7px;
}

#indexOne {
  padding-left: 33px;
}

#indexTwo {
  padding-left: 32px;
}

#indexThree {
  padding-left: 33px;
}

#indexFour {
  padding-left: 34px;
}

#numberInputs {
  border: none;
  padding: 0px;
  margin: 0px;
}

#homeLink {
  position: absolute;
  left: 10px;
  top: 10px;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
}

#homeLink:hover {
  color: #4CAF50;
}


body {
  background-color: #EFD8A1;
  font-family: Helvetica, sans-serif;
  /*outline: 1px dashed orange;*/
}

header {
  background-color: #AFD7DB;
  padding: 15px;
  font-size: 25px;
  display: block;
  margin-bottom: 100px;
}


nav ul li {
  color: green;
  display: inline-block;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
}

nav {
  /*margin-top: 50px;*/
  margin-bottom: 50px;
}
