body {
  padding-bottom: 0;
}

section div {
  text-align: left;
  font-size: 40px;
  font-style: italic;
  font-family: sans-serif;
}

.algorithmHeading {
  max-width: 960px;
  margin: auto;
}

div {
  margin: 20px 10px
  border: green bold;
}

ul {
  text-align: left;
}

.algorithm {
  font-size: 24px;
  color:#3D9CA8;
  text-decoration: underline wavy #BCD693;
}

#algorithmNames {
  margin-top: 50px;
  margin-left: 0px;
  text-align: left;
}

li {
  list-style-type: none;
  color: #D68FBA;
}

h1 {
  margin-top: 50px;
  margin-left: 0px;
  color: #BCD693;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.personal_info {
  max-width: 960px;
  margin:auto;
}

footer, footer h3, footer div {
  box-sizing: border-box;

}
footer {
  margin-top: 75px;
  width: 100%;
  background-color: #3D9CA8;
}

footer h3 {
  width: 100%;
  color: #BCD693;
  font-size: 18px;
  float: left;
  text-align: center;
}

footer div {
  width: 25%;
  float: left;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
    background-color: #3D9CA8;
}

footer a {
  color: white;
}

.algorithmHeading a {
  text-decoration: none;
  color: #3D9CA8;
}

.algorithmHeading a:hover {
    color: #BCD693;
}

.algorithmHeading p {
  text-indent: 20px;
}
