h1 {
  text-align: center;
}

.box {
  background-color: black;
  color: white;
}

form {
  border: 1px solid black;
  max-width: 600px;
  margin: auto;
}

#submitButton {
  margin: auto;
}

input {
  padding: 10px;
  margin: 10px;
  width: 50px;
}

svg {
  width: 500px;
  display: block;
  margin: auto;
  margin-top: 50px;
}

rect {
  display: table-cell;
  margin: 50px;
  position: relative;
  left: 20px;
}
