

#cards {
  margin:30px 0px;
}

#cards-div img {
  border-radius: 3px;
  opacity: 0.7;
  position: absolute;
}

#cards-div img:hover {
  box-shadow: 0px 0px 100px #000000;
  z-index: 2;
  opacity: 1;
  -webkit-transform: scale3d(1.4, 1.4, 1);
  transform: scale3d(1.4, 1.4, 1);
}

#buttons {
  text-align: center;
  margin: 20px;
}

button {
  cursor: pointer;
  padding: 15px;
  display: inline-block;
  margin: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3D9CA8;
}

button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
