


#cards {
  margin:30px 0px;
}

#cards-div img {
  border-radius: 3px;
  opacity: 0.7;
  position: absolute;
}

#cards-div img:hover {
  box-shadow: 0px 0px 100px #000000;
  z-index: 2;
  opacity: 1;
  -webkit-transform: scale3d(1.4, 1.4, 1);
  transform: scale3d(1.4, 1.4, 1);
}

#buttons {
  /*margin: 0 auto;*/
  width: 1160px;
  text-align: center;

}

#step {
margin: 10px 5px;
height: 40px;
width: 70px;
}

#play {
  margin: 10px 5px;
  height: 40px;
  width: 70px;
}
