body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}



/*nav bar start*/

header {
  background-color: #3D9CA8;
  display: block;
}

.box1 {
  border-radius: 6px;
  background: #BCD693;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 60px;
  margin: 15px;;
  padding: 0;
  transform: rotate(-55deg);
}

.rotating {
  cursor: pointer;
  transform-style: preserve-3d;
}

.rotating:hover {
    animation: rotating 5s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/*dropdown stuff*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  padding-top: 0px;
  z-index: 1;
}

.dropdown:hover {
  cursor: pointer;
}

#dropdownAlgorithms {
  padding: 23px;
}

#aboutLink {
  padding: 23px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  padding-left: 20px;
  color: #3D9CA8;
}

nav ul li {
  color: #3D9CA8;
  display: inline-block;
  margin-right: 50px;
  margin-left: 0px;
  /*padding: 20px;*/
}

nav ul li a, #dropdownAlgorithms {
  font-weight: lighter;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

nav ul {
  margin: 0;
  list-style-type: none;
}

.algoHeading {
  font-size: 18px;
  color: #BCD693;
}

/*nav bar ends*/


h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
}

.box {
  background-color: black;
  color: white;
<<<<<<< HEAD
=======
  border-radius: 5px;
  border: 0;
>>>>>>> master
}

#box2 {
  background-color: #AFD7DB;
  color: white;
}

.submitButton {
  cursor: pointer;
  padding: 15px;
  display: block;
  margin: auto;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
<<<<<<< HEAD
  background-color: #4CAF50;
=======
  background-color: #3D9CA8;
>>>>>>> master
}

.submitButton span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submitButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submitButton:hover span {
  padding-right: 25px;
}

.submitButton:hover span:after {
  opacity: 1;
  right: 0;
}

input {
  padding: 10px;
  margin: 10px;
  width: 50px;
}

#boxesContainer {
  display: block;
  max-width: 175px;
  margin: auto;
}

#displayField {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  display: block;
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
}

#playButton {
  margin-top: 20px;
}

#indexIndicator {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  list-style-type: none;
}

#indexIndicator li {
  display: block;
  float: left;
  margin: 0;
  width: 1px;
}

#indexOne {
  padding-left: 0px;
}

#indexTwo {
  padding-left: 22px;
}

#indexThree {
  padding-left: 18px;
}

#indexFour {
  padding-left: 18px;
}

#indexFive {
  padding-left: 18px;
}

#indexSix {
  padding-left: 18px;
}

#indexSeven {
  padding-left: 18px;
}

#indexEight {
  padding-left: 18px;
}

#indexNine {
  padding-left: 18px;
}

#homeLink {
  position: absolute;
  left: 10px;
  top: 10px;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
}

#homeLink:hover {
<<<<<<< HEAD
  color: #4CAF50;
=======
  color: #3D9CA8;
>>>>>>> master
}
